<nav class="navbar navbar-default">
    <div class="container-fluid">
      <div class="collapse navbar-collapse">
        <ul class="nav navbar-nav">
          <li><a href="Boxes">Route-1:Div Banner</a></li>
          <li><a href="Views">Route-2:E-Commerce</a></li>
          <li><a href="Timer">Route-3:Countdown Timer</a></li>
          <li><a href="Tables">Route-5:Dynamic Tables</a></li>
          <li><a href="Scroll">Route-6:Div Generator</a></li>
        </ul>
      </div>
    </div>
  </nav>
